.archive {

    &__header {
        background-color: $c-archive-head-bg;
        width: 100%;
        padding: $gapMedium;
    }

    &__container {
        padding: $gapMedium;
    }

    .recipe {
        transition: all 0.2s ease-in;
        transform: translate(0, 100px);
        opacity: 0;
        &.reveal {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}