
.btn {
    border: none;
    background: transparent;
    &:focus {
        outline: none;
    }


    &--search {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
    }

    &--submit {
        border-radius: 0 5px 5px 0;
        border: 1px solid #7bbf44;
        background: #fff;
        color: #7bbf44;
        width: 25%;
        transition: all 0.3s ease-in;
    }

    &--control {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid;
        background: #b5b5b5;
        color: #fff;
        transition: all 0.2s ease-in-out;
        &:focus,
        &:hover {
            outline: none;
            background-color: $c-green;
        }
    }
}


