.footer {
    background-color: $black;
    color: $white;
    padding: 75px 0;

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__logo {
        font-size: 45px;
        text-align: center;
        margin: 0 0 50px 0 ;
    }

    .socials {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 250px;
        margin: 0 auto 50px auto;
        &__link {
            color: $white;
            width: 25%;
            padding: 10px;
            font-size: 20px;
        }
    }

    &__copy {
        text-align: center;
        opacity: 0.7;
        &:hover {
            opacity: 1;
        }
    }
}