// ========
// HEADER
// ========

.header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    background-color: $white;
    box-shadow: $b-shadow1;
    &__container {

        // padding: 25px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $header-height;    
        width: 100%;
    }
    &__link {
        color: $black;
    }
}

.top-carousel {
    max-height: calc( 95vh - #{$header-height});
    padding: 25px 0 0 0;
    // margin: 0 0 75px 0;
}

.slider {

    &__link {
        position: relative;
        height: 100%;
        border-radius: 5px;
        color: $white;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgb(0,0,0);
            background: $bg-gradient;
        }
    }

    &__element {
        height: 100%;

        .taxonomy-tag {
            font-size: 14px;
            margin: 0 0 10px 0;
        }
    
        .subtitle {
            margin: 0 0 15px 0;
        }
    }

    &__content {
        position: absolute;
        bottom: 0;
        left: 0px;
        z-index: 1;
        padding: 25px;
    }

    &__info {
        font-size: 14px;
        span {
            margin: 0 5px;
            &:last-of-type {
                margin: 0;
            }
        }
    }

    &__time .far {
        margin: 0 2px 0 0;
    }
}

.slick-slide {
    height: 100%;
    & > div {
        height: 100%;
    }
}
