@font-face {
    font-family: "icons";
    src: url('../fonts/icons/icons.eot');
    src: url('../fonts/icons/icons.eot?#iefix') format('eot'),
        // url('dist/fonts/icons/icons.woff2') format('woff2'),
        // url('dist/fonts/icons/icons.woff') format('woff'),
        url('../fonts/icons/icons.ttf') format('truetype'),
        url('../fonts/icons/icons.svg#icons') format('svg');
}


.icon:before {
    font-family: "icons";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}


.icon-carrot:before {
    content: "\E001";
}

.icon-chevron:before {
    content: "\E002";
}

.icon-cup:before {
    content: "\E003";
}

.icon-fastfood:before {
    content: "\E004";
}

.icon-fire:before {
    content: "\E005";
}

.icon-fish:before {
    content: "\E006";
}

.icon-fruit:before {
    content: "\E007";
}

.icon-fruit2:before {
    content: "\E008";
}

.icon-groocieries:before {
    content: "\E009";
}

.icon-hamburger:before {
    content: "\E00A";
}

.icon-meat:before {
    content: "\E00B";
}

.icon-restaurant:before {
    content: "\E00C";
}

.icon-time:before {
    content: "\E00D";
}