.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // border: 1px solid $black;
    margin: 0 0 50px 0;

    &__thumbnail {
        position: relative;
        border-radius: $borderR;
        margin: 0 0 25px 0;
        height: 260px;
    
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            opacity: 0;
            background: $white;
            // background: $bg-gradient-white;
            transition: all 0.3s ease-in;
        }

        &:hover {
            &:after {
                opacity: 0.5;
            }
        }
    }

    &__content {
        flex-grow: 1;
    }

    &__post-type {
        display: block;
        font-size: 14px;
        color: $c-green;
        margin: 0 0 5px 0;
    }

    &__title {
        font-size: 35px;
        font-weight: 100;
        letter-spacing: 1px;
        margin: 0 0 15px 0;
    }

    &__info {
        margin: 0 0 10px 0;
        font-size: 14px;
        color: $c-grey;

        &--nutrition {
            // position: absolute;
            // top: calc(100% - 25px);
            // left: 0;
            // z-index: 1;
            width: 100%;
            // text-align: center;
        }
    }

    &__excerpt {
        font-size: 14px;
        color: $c-grey;
        margin: 0 0 20px 0;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &__more {
        margin: 0 10px 0 0;
        transition: all 0.2s ease-in;
        &:hover, &:focus  {
            color: $c-green;
            & ~ .bar:after {
                width: 100%;
            }
        }
    }

    .bar {
        // width: 100%;
        position: relative;
        flex-grow: 1;
        height: 1px;
        display: inline-block;
        padding: 0 0 0 15px;
        background-color: $c-grey-l;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 1px;
            background-color: $c-green;
            transition: all 0.2s ease-in;
        }
    }
}

