.post-nav {
    $pn: &;
    margin: 0 0 $gapMedium*2 0;
    justify-content: space-between;

    &__img {
        position: relative;
        height: 100%;
        width: 100%;
        border-radius: $borderR;

        // border: 1px solid $c-grey;
        @include image-bg("./../../img/placeholder.jpg","no-repeat", "100%");
        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: $borderR;
            background-color: $c-black06;
        }

        // &:hover, &:focus {
        //     &::after {
        //         background-color: transparent;
        //     }
        // }
    }

    &__content {
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
        height: 100%;
        padding: 10px;
        color: $white;
        // border: 1px solid $c-grey;

    }

    &__prev,
    &__next {
        position: relative;
        display: inline-flex;
        height: 100px;
        border-radius: $borderR;
        overflow: hidden;
    }

    &__prev {
        margin-bottom: $gapMedium/2;
        text-align: left;
        #{$pn}__content {
            align-items: flex-start;
        }
    }

    &__next {
        flex-direction: row-reverse;
        text-align: right;
        #{$pn}__content {
            align-items: flex-end;
        }
    }

    .taxonomy-tag {
        font-size: 12px;
    }

}

// @include breakpoint(sm) {
//     .post-nav {
//         margin-bottom: $gapMedium*2;
//     }
    
// }

// @include breakpoint(md) {
//     .post-nav {
//         margin-bottom: $gapMedium*4;
//     }
// }