.search {
    $s: &;
    display: none;

    &--active {
        position: fixed;
        top: 0; bottom: 0; left: 0; $right: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        display: flex;
        background-color: $c-overlay-search; 
        overflow: scroll;
    }
            
    &__container {
        width: 75%;
        margin: $gapMedium*2 auto 0 auto;
    }

    .form-group {
        position: relative;
        margin: 0 0 $gapMedium 0;
    }

    &__input {
        border: none;
        // border-bottom: $c-grey07;
        border-bottom: 1px solid $c-grey;
        padding: 15px;
        width: 100%;
        text-indent: 20px;
        &:focus + #{$s}__label {
            transform: translate(0, -35px);
        }
    }

    &__label {
        position: absolute;
        bottom: 15px; left: 35px;
        background-color:  $c-overlay-search;
        transition: all 0.2s ease-in;
    }
    .fa-search {
        position: absolute;
        bottom: 15px; left: 5px;
    }

    .btn--close {
        position: absolute;
        top: 50%; right: 10px;
        transform: translate(0, -50%);
    }

    // Results

    &__title {
        font-family: $f-montserrat;
        font-size: 35px;
        margin: 0 0 $gapSmall 0;
        padding: 0 15px;
    }

    &__type {
        margin: 0 0 $gapMedium 0;
    }

    &__element {
        margin: 0 0 $gapSmall 0;
    }

    &__img {
        border-radius: $borderR;
    }

}